<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Statysta+{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/CSS/homepage/main.css') }}">
    </head>

    <body class="bg-secondary">

    <header>
        <nav class="navbar navbar-expand-mid navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Statysta+</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="nabar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Wyloguj się</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Wyloguj się</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main>{% block body %}{% endblock %}</main>

    <footer class="fixed-bottom text-muted bg-dark">
        <div class="container text-center my-2">
            <p>Copyrights &copy; : <a href="https://yellows.pl">yellows.pl</a></p>
        </div>
    </footer>

    </body>

</html>
