{% extends 'base.html.twig' %}
{% set flashesbag = app.flashes %}

{% block body %}
    <div class="container">
        <div class="row">

            {% if flashesbag.success is defined %}
                <div class="col-8 mx-auto bg-success border border-dark shadow rounded">
                    <p>{{ flashesbag.success[0] }}</p>
                </div>
            {% endif %}

        </div>
    </div>
{%  endblock %}