{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto mt-5">
                {{ form_start(form,{'attr':{'class':'form-material m-t-40'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}